<div class="mainContainer">
	<div class="pitch">
		<div class="mainHeader">
			<h1>All done!</h1>
		</div>
		<div class="mainPitch">
			<span>Liked what you saw?</span>
		</div>
		<div class="mainAction">
			<a href="https://twitter.com/AzharBandeAli" class="actionButton">Thank the developer!</a>
		</div>
	</div>
</div>
