<div class="mainContainer">
	<div class="pitch">
		<div class="mainHeader">
			<h1>Tired of 'Birthday' app invites from friends?</h1>
		</div>
		<div class="mainPitch">
			<span>Invite them to 'Stop Inviting Me To Stuff'.</span><br/><br/>
			<span>Here's what they'll see</span><br/>
			<img src="/assets/stopit.png">
		</div>
		<div class="mainAction">
			<a href="https://www.facebook.com/dialog/oauth/?
			    client_id=519100928135353
			    &redirect_uri=http://stopinvites.herokuapp.com/invite" class="actionButton">Yes, please!</a>
		</div>
	</div>
</div>
