<script>
      FB.init({
        appId  : '519100928135353'
      });

      
      function sendRequestViaMultiFriendSelector() {
        FB.ui({method: 'apprequests',
          message: 'Tit for tat'
        }, requestCallback);
      }
      
      function requestCallback(response) {
        // Handle callback here
		console.log(response);
		if(response)
			window.location.href = '/done';
		else
			alert('Oops! Facebook made a boo-boo! Let\'s try that again!');
      }
    </script>
	<div class="mainContainer">
		<div class="pitch">
			<div class="mainHeader">
				<h1>Almost there..</h1>
			</div>
			<div class="mainPitch">
				<span>Find those friends</span>
			</div>
			<div class="mainAction">
				<a href="#" onClick="sendRequestViaMultiFriendSelector(); return false;" class="actionButton">Get 'em!</a>
			</div>
		</div>
	</div>
